
@{
    ViewBag.Title = "About Us";
    Layout="~/Views/Shared/_Layout.cshtml";
}
  
  
 
			
			
	<!-- ABOUT PAGE	-->	
	
	
	<!-- ADDING CONTAINER ( Add two containers (.container-fluid), and add a custom class to the second container (.bg-grey - adds a gray background color):)-->
	
	<!-- Add a Grid
	
			1. Add an icon (or the company's logo) to each container.

			2. Separate the icon and the "about text" by creating two columns (.col-sm-8 and .col-sm-4)

			3. Add media queries to center the "logo column" on screens smaller than 768 pixels wide. -->
	
			<div id="about" class="container-fluid">
				<div class="row">
					<div class="col-sm-8">
						<h2>About Company Page</h2>
						<h4>Manage your vehicles, equipment and maintenance with AUDIT WHEEL...</h4> 
						<p>You do not need to bother about your vehicles because we are here to protect them </p>
						<button class="btn btn-default btn-lg">Get in Touch</button>
					</div>
					<div class="col-sm-4">
                        <span class="glyphicon glyphicon-signal logo"></span>
					</div>
				</div>
			</div>
			
			

			<div class="container-fluid bg-grey">
				<div class="row">
					<div class="col-sm-4">
                        <span class="glyphicon glyphicon-globe logo "></span> 
					</div>					
					<div class="col-sm-8">
						<h4><strong>Our Values:</strong></h4>
						<p>Do our bit to serve the society, the community and its people well.</p>
						<h4><strong>MISSION:</strong></h4> 
						<p>To deliver quality and ingenious Vehicle Tracking suggestions to our valuable customers keeping 
						their accountabilities and liabilities as our core interest.</p>
						<h4><strong>VISION:</strong></h4>				
						<p>Our primary objective is to become a preeminent and highly acknowledgeable vehicle tracking company aiming to provide best solutions 
						and support to our customers.</p>
						
					</div>
				</div>
			</div>
			
			
		<div class="container-fluid bg">
			<div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
      
				<p>Have <strong style="color: #005073">more than 100 vehicles</strong> in your fleet?
				<br>
				Contact our sales team to talk volume pricing!</p>
                 
				<p><a  style="background-color: #005073; color: #fff; " class="btn btn-lg btn-navy" data-toggle="modal" href="#custom-pricing">Contact Sales</a></p>
			</div>
		</div>
			
			
			
	
	
	
	
	
			
			
			
	

    
  
